<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Boolflix</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./master.css">
  </head>

  <body>
    <div id="root">
      <!-- Logo, searchbar -->
      <header>
        <h1>Boolflix</h1>
        <div id="searchbar">
          <input type="text" name="search" placeholder="Search for a movie, tv show, person..."
          v-model="searchInput"
          @keyup.enter="getResults">
          <button type="button" name="send"
          @click="getResults">Search</button>
        </div>
      </header>

      <main>
        <!-- Card di film/serie -->
        <div id="results">
          <!-- Poster del film -->
          <div class="card" v-if="cast.length == 0" v-for="result in searchResults"
          @click="showBigCard(result)">
            <div class="poster"
            :style="`background-image:url('${changePoster(result)}')`">
            </div>

            <!-- Informazioni sul film-->
            <div class="info">
              <div>
                <span>Titolo:</span>
                <span>{{getTitle(result)}}</span>
              </div>
              <div v-if="getTitle(result) != getOriginalTitle(result)">
                <span>Titolo originale:</span>
                <span>{{getOriginalTitle(result)}}</span>
              </div>
              <div class="language">
                <span>Lingua:</span>
                <img :src="`https://www.unknown.nu/flags/images/${result.original_language}-100`"
                @error="hideImage"
                :alt="`${result.original_language} language flag`">
                <span class="hide">{{result.original_language}}</span>
              </div>
              <div>
                <span>Voto:</span>
                <span v-html="getVote(result.vote_average)"></span>
              </div>
              <div class="overview" v-if="result.overview">
                <span>Overview:</span>
                <span>{{result.overview}}</span>
              </div>
            </div>
          </div>

          <!-- Card con poster e tutte le info -->
          <div id="big-card" v-if="cast.length != 0">
            <i class="far fa-arrow-alt-circle-left"></i>
            <div class="actors">
              <span>Cast:</span>
              <span v-for="(actor,i) in cast">{{actorName(i)}}</span>
            </div>
            <div class="genres">
              <span>Genres:</span>
              <span v-for="(genre,i) in cardGenres">{{getGenre(i)}}</span>
            </div>
          </div>

          <!-- Alert message -->
          <div class="message" :class="(noResults) ? 'show' : 'hide'">
            There are no movies that matched your query.
          </div>
        </div>
      </main>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./main.js" charset="utf-8"></script>
  </body>
</html>
