<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Boolflix</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./master.css">
  </head>

  <body>
    <div id="root">
      <!-- Logo, searchbar -->
      <header>
        <h1>Boolflix</h1>
        <div class="chategory">
          <ul>
            <li @click="selectChategory">All</li>
            <li @click="selectChategory">Movies</li>
            <li @click="selectChategory">Series</li>
          </ul>
          <select name="genre" v-model="selectGenre">
            <option value="">All</option>
            <option :value="genre.id" v-for="genre in genres">{{genre.name}}</option>
          </select>
        </div>
        <div id="searchbar">
          <input type="text" name="search" placeholder="Search for a movie, tv show, person..."
          v-model="searchInput"
          @keyup.enter="getResults">
          <button type="button" name="send"
          @click="getResults">Search</button>
        </div>
      </header>

      <main>
        <!-- Card di film/serie -->
        <div id="results">
          <!-- <div class="all-genres" v-for="genre in genres"> -->
            <!-- <div>{{genre.name}}</div> -->
            <!-- Poster del film -->
            <div class="card" v-for="result in showResults"
            @click="getInfo(result)">
              <div class="poster"
              :style="`background-image:url('${changePoster(result)}')`">
              </div>

              <!-- Informazioni sul film-->
              <div class="info">
                <div>
                  <span>Title:</span>
                  <span>{{getTitle(result)}}</span>
                </div>
                <div v-if="getTitle(result) != getOriginalTitle(result)">
                  <span>Original title:</span>
                  <span>{{getOriginalTitle(result)}}</span>
                </div>
                <div class="language">
                  <span>Language:</span>
                  <img :src="`https://www.unknown.nu/flags/images/${result.original_language}-100`"
                  @error="hideImage"
                  :alt="`${result.original_language} language flag`">
                  <span class="hide">{{result.original_language}}</span>
                </div>
                <div>
                  <span>Vote:</span>
                  <span v-html="getVote(result.vote_average)"></span>
                </div>
                <div class="overview" v-if="result.overview">
                  <span>Overview:</span>
                  <span>{{result.overview}}</span>
                </div>
              </div>
            </div>

          <!-- </div> -->

          <!-- Card con poster e tutte le info -->
            <div class="big-card" v-if="cast.length != 0 || cardGenres.length != 0">
              <div class="inner">
                <i class="far fa-arrow-alt-circle-left"
                  @click="closeBigCard">
                </i>
                <div class="bc-info">
                  <div class="bc-image">
                    <img :src="`${changePoster(showResults[selectedFilm])}`" alt="poster">
                  </div>
                  <div class="bc-text">
                    <div>
                      <span>Title:</span>
                      <span>{{getTitle(showResults[selectedFilm])}}</span>
                    </div>
                    <div v-if="getTitle(showResults[selectedFilm]) != getOriginalTitle(showResults[selectedFilm])">
                      <span>Original title:</span>
                      <span>{{getOriginalTitle(showResults[selectedFilm])}}</span>
                    </div>
                    <div class="language">
                      <span>Language:</span>
                      <img :src="`https://www.unknown.nu/flags/images/${showResults[selectedFilm].original_language}-100`"
                      @error="hideImage"
                      :alt="`${showResults[selectedFilm].original_language} language flag`">
                      <span class="hide">{{showResults[selectedFilm].original_language}}</span>
                    </div>
                    <div>
                      <span>Vote:</span>
                      <span v-html="getVote(showResults[selectedFilm].vote_average)"></span>
                      <span>{{showResults[selectedFilm].vote_count}} votes</span>
                    </div>
                    <div class="actors">
                      <span>Actors:</span>
                      <span v-for="(actor,i) in cast">{{actorName(i)}}</span>
                    </div>
                    <div class="genres">
                      <span>Genre:</span>
                      <span v-for="(genre,i) in cardGenres">{{getGenre(i)}}</span>
                    </div>
                    <div class="overview" v-if="showResults[selectedFilm].overview">
                      <span>Overview:</span>
                      <span>{{showResults[selectedFilm].overview}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <!-- Alert message -->
          <div class="message" :class="(noResults) ? 'show' : 'hide'">
            There are no movies that matched your query.
          </div>
        </div>
      </main>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./main.js" charset="utf-8"></script>
  </body>
</html>
