* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background-color: #0C0B0C;
  height: 80px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  color: #E50914;
}


#searchbar input {
  width: 400px;
  padding: 10px 26px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin-right: 15px;
}

#searchbar button {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #E50914;
  padding: 10px 26px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

#results {
  background-color: #151315;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 15px;
}

#results .card {
  margin: 0 10px 30px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-basis: 200px;
  position: relative;
}

#results .card .poster img {
  width: 100%;
}

#results .card .poster-placeholder {
  display: none;
}

#results .card .info {
  background-color: rgba(0,0,0,0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: none;
}

#results .card:hover .info {
  display: flex;
}

#results .card .info > div {
  margin: 5px 0;
  font-size: 16px;
}

#results .card .info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}

#results .card .info div.language {
  display: flex;
  align-items: center;
}

#results .card .info div.language img {
  width: 30px;
  margin-left: 5px;
}

#results .card .info i.fa-star {
  font-style: 14px;
  color: #F1D405;
}

#results .message {
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: #808080;
}

.show {
  display: block;
}

.hide {
  display: none;
}
